@using System.Text.Json

@model Contracts.Requests.HomePageRequest
@{
    ViewData["Title"] = "Home";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/pages/index.css" />
}

<div class="filter-button">
    <button id="toggle-filter">Filter</button>
</div>

<form method="POST" action="@Url.Action("New", "Home")">
    <button type="submit">New recipe</button>
</form>

<div id="recipe-list"></div>
<div class="page-container">
    
    <aside class="filter-panel" id="filter-panel">
        <div class="filter-screen">
            <input id="filter-text"/>
            <ul id="filter-tags">
                @foreach (var tag in Model.Tags) // Tags are ordered alphabetically (A->Z) from db
                {
                    <li>
                        <input type="checkbox" value="@tag.Id"/>
                        <label>@tag.Name</label>
                    </li>
                }
            </ul>
        </div>
    </aside>
    <div class="recipes-section">
        <div class="recipes-container">
            <!-- JS renders recipe cards here-->
        </div>
    </div>
</div>
    
<div id="recipe-data"
     data-recipes='@Html.Raw(JsonSerializer.Serialize(Model.RecipeCards))'>
</div>
<script src="~/js/index.js"></script>